body {
  background: #f2f7f6;
}

header {
  background: #00695c;
  color: white;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
}

section {
  background: white;
  padding: 2rem;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
button {
  padding: 10px;
  font-size: 1rem;
}

button {
  background: #009688;
  color: white;
  border: none;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 1rem;
  color: #666;
}
